books-directory-backend/.vscode
books-directory-backend/node_modules
books-directory-backend/.env
car-repair-crm-backend/.vscode
car-repair-crm-backend/node_modules
car-repair-crm-backend/.env
real-time-chat-backend/.vscode
real-time-chat-backend/node_modules
real-time-chat-backend/.env